@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navBar {
    background-color: #FFB800 !important;
    
}

.hero {
    font-family: 'Montserrat', sans-serif;
    background: #2D2D2D;
    height:93.5vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroimg {
    position: absolute;
    right: 0;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 45%;
    z-index: 1;
}
.hero h1 {
    font-size: 20vh;
    position: relative;
    /* font-weight: bolder; */
    /* margin-left: 30%; */
    margin-right:11%;
    line-height:20vh;
    color: white;
    z-index: 5;
}
.heroimg2 {
    position: absolute;
    left:-5%;
    bottom: -1%;
    /* width: 5vh; */
    height: 20vh;
    z-index: -1;
    
    
}
.heroimg3 {
    position: absolute;
    left:20%;
    top: 10%;
    z-index: -1;
    height: 12vh;
}

.selectContainer {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 4rem !important;
    margin-bottom:  4rem!important;
}
.sl {
    margin-left: 50% !important;
    margin-right:50% !important;
}

.catagory {
    height: 300px;
        width: 100%;
        position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all 0.2s ease-in-out;
    /* background-color: aliceblue; */
}
.flex1 {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #2D2D2D;
    justify-items: center;
    position: relative;
    width: 100%;
    
}


.catimg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.catagory::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.catagory:hover {
    cursor: pointer;
    border: 3px solid #FFB800;
    transform: scale(.9);
    z-index: 100;
}
.catagory h1 {
    z-index: 3;
    z-index: 2;
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.sbc {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 3rem 0rem;
    margin: 0;
    background-color: #FFB800;
    color: #2D2D2D;
}